
$font-family: roboto, sans-serif;
$font-family-bold: "assets/fonts/OpenSans-Bold.ttf";
$font-family-light: "assets/fonts/OpenSans-Light.ttf";

//==================================================

$primary-color: #11101d;
$primary-color-reverse: #fff;

$primary-background: #fffffc;
$primary-background-reverse: #11101df0;

$primary-font-color: #11101d;
$primary-font-color-reverse: #ecebf3;

//==================================================

$secondary-color: #3e3783;
$secondary-color-reverse: #9c9c9c;

$secondary-background: #fbf9f5;
$secondary-background-reverse: #292836;

$secondary-font-color: #2a2468;
$secondary-font-color-reverse: #9c9c9c;

//==================================================

$error-color: #da4316;
$warning-color: #daa616;
$success-color: #66ec18;
$info-color: #24f1f8;

//==================================================

$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-large: 16px;
$font-size-extra: 18px;

//==================================================

