<div class="content">
  <div class="breadcrumbs" (click)="goTo('admin-panel')">
    <mat-icon style="transform: rotate(180deg);">arrow_right_alt</mat-icon> Admin Panel
  </div>

  <div class="header">
    <h1 class="caption"><mat-icon class="icon">supervisor_account</mat-icon>Activity Logs</h1>
    <p class="description">In this component, you can view transaction activity logs</p>
  </div>

  <div class="body">
    <div class="activity-log-section">
      <table mat-table [dataSource]="activityLogsData" class="table" matSort="logsSort">
        <ng-container matColumnDef="transactionId">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 25%;"> TRANSACTION ID </th>
          <td mat-cell *matCellDef="let activityLog"> {{activityLog.transactionId}} </td>
        </ng-container>

        <ng-container matColumnDef="userEmail" style="width: 20%;">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> EMAIL </th>
          <td mat-cell *matCellDef="let activityLog"> {{activityLog.userEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="actionTime">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 25%;"> TIME </th>
          <td mat-cell *matCellDef="let activityLog"> {{activityLog.actionTime}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: auto;"> ACTION </th>
          <td mat-cell *matCellDef="let activityLog"> {{activityLog.action}} </td>
        </ng-container>

        <tr class="header-row" mat-header-row *matHeaderRowDef="activityLogTableColumns"></tr>
        <tr class="row" mat-row *matRowDef="let row; columns: activityLogTableColumns;"></tr>
      </table>
      <div *ngIf="!activityLogsData?.data?.length" class="logs-empty">
        <mat-icon class="icon">list</mat-icon>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>