@import 'text';
@import 'variables';

.content{
  background-color: $secondary-background;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .grid{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px 40px;
  }
}