@import 'text';
@import 'variables';
@import 'components';
@import 'buttons';
@import 'forms';

.content{
  display: flex;
  flex-flow: column;
  height: stretch;
  overflow-y: scroll;
  padding: 30px 20px;
  background-color: $secondary-background;

  .breadcrumbs{
    @extend %primary-font;
    font-size: $font-size-large;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    mat-icon{
      width: 32px;
      height: 32px;
      font-size: 32px;
    }
  }

  .header{
    display: flex;
    flex-flow: column;
    
    .caption{
      @extend %primary-font;

      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 32px;
      font-weight: 500;
      vertical-align: center;
      margin: 0;
      padding: 10px 0;

      .icon{
        width: 45px;
        height: 45px;
        font-size: 45px;
      }
    }

    .description{
      @extend %primary-font;

      font-size: $font-size-large;
      margin: 0;
      padding-left: 60px;
    }
  }

  .body{
    display: flex;
    flex-flow: column;
    padding-top: 40px;
    gap: 40px;

    .filter-wrapper {
      max-width: 500px;

      .form-wrapper{
        @extend %primary-form;
        
        gap: 20px;

        margin-bottom: 20px;
      }

      .button{
        @extend %primary-button;
        padding: 5px 35px;
      }

      .input-data-error {
        color: $error-color;
        margin-top: 15px;
      }
    }

    .rates-diffs-wrapper {
      float: right;
      
      .field-wrapper{
        display: flex;
        flex-flow: column;
  
        .caption{
          @extend %primary-font;
  
          font-size: $font-size-large;
          margin-bottom: 3px
        }
  
        .field{
          @extend %primary-font;
  
          font-size: $font-size-large;
          padding: 4px 40px 4px 12px;
          border-radius: 4px;
          border: solid 1px $secondary-background-reverse;
          transition-duration: 200ms;
          cursor: default;
  
          &:focus{
            outline: none;
            border: solid 1px $secondary-background-reverse;
            cursor: default;
          }
        }

        .field-warning{
          border: solid 1px $warning-color!important;
        }
  
        .icon{
          position: relative;
          margin-top: -26px;
          margin-left: auto;
          margin-right: 10px;
        }
      }
    }

    #chart-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      ::ng-deep .sunburst-viz .text-contour{
        color: transparent !important;
        stroke: transparent !important;
      }

      ::ng-deep .sunburst-viz text{
        fill: white;
      }
    }

    .chart-text{
      text-align: center;
      font-size: 16px;
    }

    .table-header{
      width: 100%;
      display: table;
      empty-cells: show; 
      background-color: #eeecec;
      border-top: solid #b6b6b6 1px;
      border-bottom: solid #b6b6b6 1px;
      height: 35px;

      .table-header-cell {
        display: table-cell;
        padding: 10px;
        width: 15%;
      }

      .table-header-name-cell{
        width: 40%;
      }
    }
    
    .tree-table{
      width: 100%;
      display: table;
      empty-cells: show; 
      .table-node-row {
        display: table-row;
      }

      .table-node-row:hover {
        background-color: #eeecec;
      }

      .table-node-cell {
        border-bottom: solid #b6b6b6 1px;
        display: table-cell;
        padding: 0 10px 5px;
        width: 15%;
        .status-bar-container{
          height: 10px;
          border-top: solid #b6b6b6 1px;
          border-bottom: solid #b6b6b6 1px;
          .status-bar{
            background-color: #b6b6b6;
            height: 10px;
          }
        }
      }
      .name-cell{
        width: 40%;
      }
    }
  }
}
